<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>
<div class="logincont">
    <form action="register" method="get" class="login">
        <fieldset>
            <label>Email: <input type="email" name="account_email" id="account_email" required placeholder="someone@mail.com"></label>
            <label>Password: <input type="password" name="account_password" id="account_password" required></label>
            <input type="submit" value="Login">
            <span>No account? <a href="#">Sign-up</a></span>
        </fieldset>
    </form>
</div>
