<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
       <% }) %>
    </ul>
<% } %>

<div class="formcont">
    <form action="/account/login" method="post" class="form">
        <fieldset>
            <label>Email: <input type="email" name="account_email" id="account_email" required placeholder="someone@mail.com" value="<%= locals.account_email %>"></label>
            <label>Password: <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
            <p>Password must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
            <input type="submit" value="Login">
        </fieldset>
    </form>
    <span>No account? <a href="register">Sign-up</a></span>
</div>
