<header id="top-header">
    <div class="siteName">
      <h1><a href="/" title="Return to home page">CSE Motors</a></h1>
    </div>
    <div id="tools">
      <h4><%- loginLinks %></h4>
    </div>
</header>