<div class="principal">
    <section class="card">
        <h1>Welcome to CSE Motors!</h1>
        <%- messages() %>
        <picture>
            <img src="./images/vehicles/delorean.jpg" alt="Delorean">
        </picture>
        <div class="owntoday">
            <h3>DMC Delorean</h3>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button id="getcar">Own Today</button>
        </div>
    </section>
    <section class="card">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <section class="scard">
                <picture>
                    <img src="./images/upgrades/flux-cap.png" alt="Flux_capacitor">
                </picture>
                <p>Flux Capacitor</p>
            </section>
            <section class="scard">
                <picture>
                    <img src="./images/upgrades/flame.jpg" alt="Flame_decals">
                </picture>
                <p>Flame Decals</p>
            </section>
            <section class="scard">
                <picture>
                    <img src="./images/upgrades/bumper_sticker.jpg" alt="Bumper_sticker">
                </picture>
                <p>Bumper Stickers</p>
            </section>
            <section class="scard">
                <picture>
                    <img src="./images/upgrades/hub-cap.jpg" alt="Hub_cap">
                </picture>
                <p>Hub Caps</p>
            </section>
        </div>
    </section>
    <section class="card">
        <h2>DMC Delorean reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</div>