/******* Change Box Model ***************/
:root {
  --fontcol: #000;
  --fontcol2: #fff;
  --back: #364652;
  --back2: #1D1E18;
  --back3: #E3170A;
  --back4: #fff;
  --back4-trans: rgba(255, 255, 255, 0.8);
  --optional1: #BAC1B8;
  --optional2: #58A4B0;
  --font-size: .9rem;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  max-width: 800px;
  margin: 0 auto;
  background-image: url("/images/site/checkerboard.jpg");
}

#wrapper {
  background-color: var(--back4);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid var(--optional2);
  border-radius: 15px;
}

header, nav, main, footer {
  margin: 20px 10px;
}

header {
  display: flex;
  position: relative;
  column-gap: .25rem;
  padding: 20px;
  align-items: flex-start;
}

#tools{
  margin-left: auto;
  align-self: center;
}

h1,
h2,
h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
}

nav {
  background-color: var(--back);
  color: var(--fontcol2);
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}

nav a {
  display: block;
  color: var(--fontcol2);
  text-align: center;
  padding: .5rem;
  text-decoration: none;
}

nav ul li {
  flex: 1 1 100%;
}

p {
  margin: 5px;
  padding: 5px;
}

.principal {
  display: block;
  margin: 10px;
  padding: 10px;
}

.card {
  margin: 10px;
  padding: 10px;
}

section h2 {
  text-align: left;
  margin: 5px;
  padding: 5px;
}

.card ul li {
  margin: 5px;
  padding: 5px;
}

picture {
  display: flex;
  justify-content: center;
}

.owntoday {
  position: relative;
  left: 30px;
  bottom: 150px;
  background-color: var(--back4-trans);
  max-width: fit-content;
  color: var(--optional2);
  font-size: small;
}

.owntoday ul{
  list-style-type: none;
  opacity: 1;
  padding: 10px;
}

.owntoday ul li{
  margin: 0;
  padding: 0;
}

.owntoday h3, #getcar{
  font-weight: bold;
}

.owntoday #getcar{
  background-color: var(--optional2);
  color: var(--fontcol);
  border: none;
  margin: 10px;
  padding: 10px;
  width: 80%;
  font-size: small;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.scard{
  background-color: var(--optional2);
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.scard picture {
  height: 100%;
}

.scard p {
  margin: 10px;
  text-align: center;
}

.scard ul {
  list-style-type: circle;
}

img {
  width: 100%;
  height: auto;
}

.scard img {
  width: auto;
  height: 100%;
}

.card h1, h3{
  margin: 10px;
  padding: 10px;
}

.card p{
  margin: 5px;
  padding: 5px;
}

.card span{
  font-weight: bold;
}

.card:last-child p:nth-child(even){
  background-color: var(--optional1);
}

/******* Classification style ***************/

ul#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
  margin: 10px;
  padding: 10px;
}

ul#inv-display li{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

ul#inv-display li a{
  align-self: center;
}

ul#inv-display li img{
  max-width: 200px;
}

ul#inv-display li div{
  display: block;
  text-align: center;
}



/******* Large Screen Style ***************/
@media screen and (min-width : 650px) {
  body {
    font-weight: 400;
  }

  .principal {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
  }

  div .card:first-child{
    grid-column: 1 / -1;
  }

  .owntoday {
    left: 60px;
    bottom: 200px;
    font-size: large;
    padding: 1rem;
    width: 90%;
  }
  
  #det-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #det-item .card:first-child {
    grid-column: 1 / 2;
  }

}